[defaults]
inventory = ./inventory/
roles_path = ./.ansible/roles:./roles
collections_path = ./.ansible/collections:./collections
deprecation_warnings = False
timeout = 15
forks = 10

[ssh_connection]
pipelining = True
